.base-container {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.image img {
  width: 50%;
  margin: -20px 0 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

input {
  margin-top: 6px;
  width: 300px;
  height: 35px;
  padding: 0px 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #733572;
}

.btn label {
  font-size: 18px;
}

.btn {
  width: 125px;
  margin-top: 20px;
  font-size: 18px;
  padding: 5px 20px;
  border: 0;
  background-color: #733572;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #ac42aa;
}
.btn:focus {
  outline: none;
}

#app-create {
  margin-bottom: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 30%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 85%;
  padding: 17px 10px;
}

.right-side {
  width: 150px;
  height: 525px;
  top: 10%;
  right: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #733572;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.right-side:hover {
  transition: 1s;
  align-items: flex-end;
}

h3 {
  width: 100%;
  transform: rotate(90deg);
  position: absolute;
  top: 45%;
  left: 35%;
  color: #fff;
}

.checkbox {
  margin-left: -48%;
}

.input-data {
  width: 95%;
  top: 100%;
  line-height: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgb(15 15 15 / 20%);
  border-radius: 4px;
  z-index: -1;
}

.table-stick {
  width: 95%;
  top: 120%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgb(15 15 15 / 20%);
  border-radius: 4px;
  z-index: -2;
}
